{% extends "pharmacy_site/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/pharmacy_site/static/css/account.css"/>
<div class="container">
<div class="content">
    <div class="user_data">
        <img style="width: 300px;" src="https://cdn-icons-png.freepik.com/512/1144/1144760.png?ga=GA1.1.1606849930.1666291229" alt="User Picture"/>
        <h2 style="text-align: center; margin-top: 20px;">{{ user.username }}</h2>
    </div>
    <div class="my_orders">
        <h2>Мои заказы</h2>
        {% for order in orders %}
            <div class="order_card">
                <div class="order_head">
                    <h5>Заказ {{ order.id }}</h5>
                    <span>{{ order.date_ordered.date }}</span>
                </div>
                <p>{{ order.total }} ₽</p>
            <div class="vl"></div>
            </div>
        {% endfor %}
    </div>
    <div class="my_cart">
        <a href="{% url 'cart_pharmacy' %}"><button class="cart_button">Моя Корзина</button></a>
    </div>
</div>
</div>
<footer class="bg-dark" style="margin-top: 100px;">
<div class="container p-5 text-center">
    <p class="text-light">COPYRIGHT © 2024 MitraPharma (PRIVATE) LIMITED. ALL RIGHTS RESERVED.</p>
</div>
</footer>
{% endblock %}
