{% extends "pharmacy_site/base.html" %}
{% block content %}
{% load static %}
<!-- image slider -->
<div class="container mt-4">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% get_media_prefix %}pharmacy_images/banner1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% get_media_prefix %}pharmacy_images/banner3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% get_media_prefix %}pharmacy_images/banner2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- description -->
<div id="about-us" class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% get_media_prefix %}pharmacy_images/description_image.jpg" class="img-fluid"
                alt="Image Description">
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
            <h5>MitraPharma</h5>

            <p>
                Ваше здоровье - наш главный приоритет. Мы являемся надежной аптекой, посвященной предоставлению вам
                исключительного обслуживания, экспертных консультаций и доступных лекарств. Наш компетентный персонал
                стремится помочь вам сохранять здоровье и радость. Посетите нас сегодня и убедитесь в этом сами.
            </p>
        </div>
    </div>
</div>

<section id="products" class="mt-5 p-5" style="background-color: blueviolet">
    <div class="container">
        <h1 class="text-center pt-3 pb-4">КАТАЛОГ</h1>

        <!-- search for product -->
        <div class="row d-flex justify-content-center">

            <form action="{% url 'pharmacy-search-product' %}" method="get" class="col-8 d-flex mb-5" id="search-form">
                <input class="form-control me-2" type="search" name="productName" placeholder="Поиск...">
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
            </form>

        </div>

        <div class="row g-4">
            <!-- grid sytem have 12 colums in total -->
            <!-- if we wants to split in two equal colums we needs to use 12/2=6 -->
            {% for med in meds %}
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <img class="card-img-top" src="{{ med.image.url }}" alt="" style="height: 100%;">
                    <div class="card-body">
                        <h5 class="cart-title mb-3">
                            {{ med.name }}
                        </h5>
                        <p class="card-text lead">
                            {{ med.price }} ₽
                        </p>

                        {% if user.is_authenticated %}
                        <form action="{% url 'add_to_cart_pharmacy' med.id %}" method="get">
                            <button type="submit" class="btn btn-success">В корзину</button>
                        </form>
                        {% else %}
                        <p class="text-danger">Пожалуйста <a href="{% url 'user-login' %}">войдите в аккаунт</a> чтобы добавить товар в корзину.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<footer class="bg-dark">
    <div class="container p-5 text-center">
        <p class="text-light">COPYRIGHT © 2024 MitraPharma (PRIVATE) LIMITED. ALL RIGHTS RESERVED.</p>
    </div>
</footer>
{% endblock content %}