{% extends "pharmacy_site/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/pharmacy_site/static/css/medicine_item.css"/>
<div class="container">
<div class="content">
    <img src="{{ medicine_item.image.url }}" alt="medicine picture"/>
    <div class="text_content">
        <div class="text_col">
            <h2>{{ medicine_item.name }}</h2>
            <p class="brand_name">{{ medicine_item.brand }}</p>
        </div>
        <p class="desc">
            {{ medicine_item.description }}
        </p>
        {% if user.is_authenticated %}
        <form action="{% url 'add_to_cart_pharmacy' medicine_item.id %}" method="get" style="margin-top: 25px">
            <button type="submit" class="btn btn-success">В корзину</button>
        </form>
        {% else %}
        <p style="margin-top: 25px" class="text-danger">Пожалуйста <a href="{% url 'user-login' %}">войдите в аккаунт</a> чтобы добавить товар в корзину.</p>
        {% endif %}
    </div>
</div>
</div>
<footer class="bg-dark">
    <div class="container p-5 text-center">
        <p class="text-light">COPYRIGHT © 2024 MitraPharma (PRIVATE) LIMITED. ALL RIGHTS RESERVED.</p>
    </div>
</footer>
{% endblock %}