{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Главная</a></span> <span>Заказы</span></p>
            <h1 class="mb-0 bread">Заказ</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<form method="post" action="#" class="container">
				{% csrf_token %}
                <div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table" >
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Название</th>
						        <th>Цена</th>
						        <th>Кол-во</th>
						        <th>Итого</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr class="text-center">
                                  {% for det in detail %}
                                    <td class="image-prod"><img src="{{ det.product.photo.url }}" class="img"/></td>

                                    <td class="product-name">
                                        <h3>{{ det.product.name }}</h3>
                                    </td>

                                    <td class="price">₽{{ det.product.price }}</td>

                                      <td class="quantity">{{ det.quantity }}</td>


                                    <td class="total">₽{{ order.total }}</td>
                                  </tr><!-- END TR-->
                              {% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
            <div class="col-md-6 d-flex align-items-center">
            <div class="subscribe-form">
                <div class="form-group d-flex">
                    <input name="address" type="text" class="form-control" value="{{ order.address }}" readonly disabled/>
                </div>
            </div>
          </div>
    			<div class="col-lg-4 mt-3 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Итого</h3>
    					<p class="d-flex">
    						<span>Товары</span>
    						<span>₽{{ total_price }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Доставка</span>
    						<span>₽0.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Итого</span>
    						<span>₽{{ total_price }}</span>
    					</p>
    				</div>
    			</div>
    		</form>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Подпишитесь на нашу рассылку!</h2>
          	<span>Получайте уведомления о новых предложениях на почту</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Введите email">
                <input type="submit" value="Подписаться" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
